@model CategoriesClass
@{


}

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pd-0">
            <h2 class="text-primary">إضافة قائمة</h2>
            <hr />
        </div>

        <div class="mb-3">
            <label asp-for="CategoryName"></label>
            <input asp-for="CategoryName" class="form-control"/>
            <span asp-validation-for="CategoryName" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Discription"></label>
            <input asp-for="Discription" class="form-control" />
            <span asp-validation-for="Discription" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">حفظ</button>
        <a asp-controller="Categories" asp-action="Index" class="btn btn-secondary">العودة للقوائم</a>
    </div>


</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}